/* GLOBALHEADER */
a{

    color:#ffffff;
}

#globalheader { position:relative;
                color:#ffffff;
                display:block; 
                width:738px;
                height:36px; margin:18px auto; text-align:left; z-index:9998;
                background:url(../images/globalheader.png) repeat-x;
                -khtml-border-radius:4px;
                -ms-border-radius:4px;
                -o-border-radius:4px; -moz-border-radius:4px;
                -webkit-border-radius:4px; border-radius:4px;
                -khtml-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
                -ms-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
                -o-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
                -moz-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
                -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
                box-shadow:rgba(0,0,0,0.3) 0 1px 2px;
                font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#globalheader #globalnav { position:relative; display:block; margin:0; padding:0; zoom:1; z-index:3; }
#globalheader #globalnav:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
#globalheader #globalnav li { display:inline; }
#globalheader #globalnav li a { float:left; width:102px; height:36px; overflow:hidden; text-indent:-9999px; background:url(../images/globalnav.png) no-repeat; cursor:pointer; }

#globalheader #globalnav li a { background-position:100% 0; outline:none; }
#globalheader #globalnav li a.before { background-position:100% -36px; }
#globalheader #globalnav li a:hover,
#globalheader #globalnav li a:focus  { background-position:100% -72px; }
#globalheader #globalnav li a:active { background-position:100% -108px; }

#globalheader #globalnav li#gn-apple a { background-position:0 0; }
#globalheader #globalnav li#gn-apple a.before { background-position:0 -36px; }
#globalheader #globalnav li#gn-apple a:hover,
#globalheader #globalnav li#gn-apple a:focus  { background-position:0 -72px; }
#globalheader #globalnav li#gn-apple a:active { background-position:0 -108px; }
    
/* TEXT */
#globalheader            #globalnav li            a span { display:block; width:100%; height:30px; margin:3px auto; background:url(../images/globalnav_text.png) no-repeat 50% 0; _background-image:url(/global/nav/images/globalnav_text.gif); }
#globalheader.svg        #globalnav li            a span { background-image:url(/global/nav/images/globalnav_text.svg); }
#globalheader.decelerate #globalnav li            a span,
#globalheader.ios3       #globalnav li            a span { background-image:url(../images/globalnav_text.png); }
#globalheader            #globalnav li#gn-apple   a span { background-position:50% 0; }
#globalheader            #globalnav li#gn-store   a span { background-position:50% -30px; }
#globalheader            #globalnav li#gn-mac     a span { background-position:50% -60px; }
#globalheader            #globalnav li#gn-ipod    a span { background-position:50% -90px; }
#globalheader            #globalnav li#gn-iphone  a span { background-position:50% -120px; }
#globalheader            #globalnav li#gn-ipad    a span { background-position:50% -150px; }
#globalheader            #globalnav li#gn-itunes  a span { background-position:50% -180px; }
#globalheader            #globalnav li#gn-support a span { background-position:50% -210px; }


