// RESET
// ------------------------------------
// The point of a reset is to override
// base styles that browsers set in stylesheets
// called "user agent stylesheets". When you
// expect an element, you can see
// them as the base styles.
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
figure,
hr {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, strong, b, mark {
  font-style: inherit;
  font-weight: 600;
}

em, i, cite, q, dfn, var {
  font-style: italic;
  font-weight: inherit;
}

address {
  font-style: normal;
}

abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

ins {
  border-bottom: 1px solid;
}

a, ins {
  text-decoration: none;
}

del, s {
  text-decoration: line-through;
}

img {
  border: none;
  font-style: italic;
}

input,
select, option, optgroup,
textarea {
  font: inherit;
}

textarea {
  overflow: hidden;
}